/*  =========================================================
                МОИ НАСТОЙКИ (НЕ КАСАЮТСЯ МАКЕТА)
============================================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_osnov {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

body {
    font-family: "Montserrat", sans-serif;
}

.bitrix_cont_zero {
    margin-top: 40px;
}

.bitrix_cont_zero a {
    text-decoration: none;
}

.bitrix_cont_zero img{
    display: block;
}

/*  =========================================================*/

/*  =========================================================
                        СКРЫТЫЕ БЛОКИ
============================================================*/



.sub_cont_text_up,
.block_our_worker,
.block_tabs_question,
.still_quest {
    display: none;
}
/*  =========================================================*/



/* общий стили для текстов и прочей ебалы */
.text_stock{
    color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.margin-top_class{
    margin-top: 57px;
}
/* ------------------------------------- */


/*  =========================================================
                     CARD_SECTION_LEST
============================================================*/
.card_block_cont {
    max-width: 1500px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.center_img_slide {
    max-width: 745px;
    width: 100%;
}

.right_cont_cad {
    max-width: 725px;
    width: 100%;
}

.left_cont_card {
    max-width: 745px;
    width: 100%;
}

.slide_bar {
    position: relative;
    width: 100%;
}

.progress_bar {
    height: 10px;
    background: #575757;
}

.active_bar {
    width: 149px;
    height: 10px;
    background: #2e9375;
    position: absolute;
    top: 0;
    left: 0;
}

.center_block_slide {
    position: relative;
}

.other_slides {
    display: flex;
}

.arrow_grey_slide_left {
    width: 25px;
    height: 40px;
    display: flex;
    background: url(./arrow_grey/left_arr_not.svg);
}

.arrow_grey_slide_left:hover {
    background: url(./arrow_grey/left_arr_act.svg);
}

.block_arrow_slider_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 745px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50% -50%);
    left: 0;
}
.arrow_grey_slide_right {
    width: 25px;
    height: 40px;
    display: flex;
    background: url(./arrow_grey/right_arr_not.svg);
}
.arrow_grey_slide_right:hover {
    background: url(./arrow_grey/right_arr_act.svg);
}

.not_active {
    position: relative;
}

.not_active::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.5);
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
}

.title_card_top {
    color: #2e9375;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title_gabarite {
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}

._bg_gab {
    padding: 5px 10px;
    background: #2e9375;
    /* text */
    color: #fff;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_char_block {
    margin-top: 35px;
    color: #000;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper_gap {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.block_char_text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px 10px;
}

.strip_text_char {
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vector_x {
    display: flex;
    width: 10px;
    height: 10px;
    background: url(./img/X.svg) no-repeat center;
}

.link_expand {
    margin-top: 20px;
    color: #2e9375;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tizer_sub_char_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tizer_sub_char_block img {
    max-width: 40px;
    width: 100%;
    height: 37px;
}

.tizer_sub_char_item {
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tizer_char_text {
    color: #575757;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 98%;
}

.tizer_char_text_strong {
    color: #575757;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 98%;
}

.title_char {
    color: #000;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.block_width_choice {
    display: flex;
    gap: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.link_choice_width {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    max-width: 71px;
    width: 100%;
    /* text */
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cell_color_choice {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    /* text */
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block_color_choice {
    display: flex;
    gap: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cell_color_type_choice {
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    max-width: 136px;
    width: 100%;
    /* text */
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block_type_choice {
    display: flex;
    gap: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.item_color_choice {
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    /* text */
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block_col_dpk_choice {
    display: flex;
    gap: 10px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.price_number {
    color: #2e9375;
    font-family: "Montserrat";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn_buy {
    display: inline-flex;
    padding: 20px 80px;
    justify-content: center;
    align-items: center;
    background: #2e9375;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    /* text */
    color: #fff;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper_price_buy {
    display: flex;
    gap: 20px 40px;
}

.other_calc_text {
    color: #575757;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 10px;
}

.wrapp_btn_sign {
    margin-top: 30px;
}
.btn_sign {
    background: #575757;
    display: flex;
    width: 725px;
    padding: 30px 215px;
    justify-content: center;
    align-items: center;
    /* text */
    color: #fff;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.round_color_black {
    width: 20px;
    height: 20px;
    background: #414141;
    border-radius: 50px;
    margin-right: 10px;
}

.round_color_venge {
    width: 20px;
    height: 20px;
    background: #654027;
    border-radius: 50px;
    margin-right: 10px;
}

.round_color_white {
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50px;
    margin-right: 10px;
}

.round_color_grey {
    width: 20px;
    height: 20px;
    background: #b3b3b3;
    border-radius: 50px;
    margin-right: 10px;
}

.dpk_dark_broun {
    width: 20px;
    height: 20px;
    background: #414141;
    border-radius: 50px;
    margin-right: 10px;
}

.dpk_broun {
    width: 20px;
    height: 20px;
    background: #654027;
    border-radius: 50px;
    margin-right: 10px;
}

.dpk_dark_white {
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50px;
    margin-right: 10px;
}

.dpk_dark_grey {
    width: 20px;
    height: 20px;
    background: #b3b3b3;
    border-radius: 50px;
    margin-right: 10px;
}

.block_video_left {
    margin-top: 70px;
}

.wrapper_arrow_video {
    display: flex;
    align-items: center;
    gap: 0px 35px;
}

.block_text_sup_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sup_title_video {
    color: #000;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block_wrapper_video {
    position: relative;
}

.link_play::after {
    content: "";
    width: 70px;
    height: 70px;
    background: url(./img/play.svg) no-repeat center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*  =========================================================*/


/*  =========================================================
                        MATIREAL BLOCK
============================================================*/

.material_block{
    margin-top: 130px;
}

.title_sup_mat{
    color: #2E9375;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title_sub_mat{
    color: #575757;
    text-align: right;
    font-family: "Montserrat";
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

.title_cont_mat{
    color: #000;
font-family: "Montserrat";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
display: flex;
}

.mat_width_1{
    max-width: 210px;
}

.mat_width_2{
    max-width: 282px;
}

.mat_width_3{
    max-width: 375px;
}

.title_cont_mat::after{
    content: '';
    position: absolute;
    width: calc(100% + 52px);
    display: inline-block;
    height: 10px;    
    background: #2E9375;
    top: 35px;
    left: 0;
    margin-left: -52px;
}

.text_material_cont{
    color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
padding-top: 60px;
}

.diff_btn{
    display: inline-flex;
padding: 20px 40px;
justify-content: center;
align-items: center;
    background: #2E9375;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
/* text */
color: #FFF;
font-family: "Montserrat";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.title_color_typ{
color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 10px;
}


.powder_color_type_bl{
width: 70px;
height: 70px;
background: #333;
 display: flex;
}
.powder_color_type_br{
width: 70px;
height: 70px;
background: #654027;
 display: flex;
}

.powder_color_type_gr{
width: 70px;
height: 70px;
background: #CACACA;
 display: flex;
}
.powder_color_type_wh{
width: 70px;
height: 70px;
background: #F1F1F1;
 display: flex;
}

.enamel_color_type_bl{
    width: 70px;
    height: 70px;
    background: #333; 
    display: flex;
}

.enamel_color_type_br{
width: 70px;
height: 70px;
background: #654027; 
display: flex;
}

.enamel_color_type_gr{
    width: 70px;
    height: 70px;
    background: #8E8B85;
     display: flex;
}

.enamel_color_type_wh{
    width: 70px;
    height: 70px;
    background: #F1F1F1; 
    display: flex;
}
.wrapper_block_material{
    display: flex;
    gap: 10px 10px;
    margin-top: 60px;
}
.card_material{
    padding-top: 40px;
    padding-bottom: 40px;
background: #FFF;
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
position: relative;
z-index: 1;
}



.pipe_after::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 282px;
    background: url(./img/truby_profilnye_stalnye\ 1.png) no-repeat center;
    z-index: -1;
}

.dpk_after::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 495px;
    background: url(./img/truby_profilnye_stalnye2.png) no-repeat center;
    z-index: -1;
}

.kovv_after::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 495px;
    background: url(./img/truby_profilnye_stalnye3.png) no-repeat center;
    z-index: -1;
}

.block_powder_color{
    display: flex;
    margin-bottom: 10px;
    gap: 0px 10px;
}
.block_enamel_color{
    display: flex;
    padding-bottom: 60px;
    gap: 0px 10px;
}

.card_material{
    max-width: 493px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont_material{
    max-width: 391px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.block_dpk_color{
    display: flex;
   gap: 0px 10px;
   margin-top: 10px;
}

.block_dpk_color:last-child{
   padding-bottom: 60px;
}

._color_dpk_1{
    display: flex;
    width: 120px;
height: 70px;
background: #333;
}

._color_dpk_2{
    display: flex;
    width: 120px;
height: 70px;
background: #413831;
}

._color_dpk_3{
    display: flex;
    width: 120px;
height: 70px;
background: #6D6D6D;
}

._color_dpk_4{
    display: flex;
    width: 120px;
height: 70px;
background: #594940;
}

._color_dpk_5{
    display: flex;
    width: 120px;
height: 70px;
background: #C08C78;
}

._color_dpk_6{
    display: flex;
    width: 120px;
height: 70px;
background: #E8D0B7;
}

.list_mettal_1{
    display: flex;
    width: 153px;
    height: 150px;
    background: #909090;
}

.list_mettal_2{
display: flex;
width: 153px;
height: 150px;
background: #919191;
}

.wrappert_list_pvl{
    display: flex;
    gap: 0px 10px;
}
/* ========================================================= */



/*  =========================================================
                     RALLING BLOCK
============================================================*/
.ralling_block{
    margin-top: 130px;
}
.title_ralling_block{
    color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card_block_ralling{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.card_ralling_options{
    max-width: 493px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title_rall{
    color: #000;
font-family: "Montserrat";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 35px;
position: relative;
display: inline-block;
}

.title_rall::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    background: #2E9375;
    width: calc(100% + 18px);
    margin-right: -18px;
    height: 10px;
}

.text_ralling{
    color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
}

.block_arrow_img_rall{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    max-width: 493px;
    width: 100%;
    top: 60%;
    left: 0;
}


.arrow_green_slide_left {
    width: 25px;
    height: 40px;
    display: flex;
    background: url(./arrow_grey/left_arr_not.svg);
}

.arrow_green_slide_left:hover {
    background: url(./arrow_grey/arr_act_green_left.svg);
}

.arrow_green_slide_right {
    width: 25px;
    height: 40px;
    display: flex;
    background: url(./arrow_grey/right_arr_not.svg);
}

.arrow_green_slide_right:hover {
    background: url(./arrow_grey/arr_act_green_rig.svg);
}

.pos_char_lest{
    position: absolute;
    top: 160px;
    left: 0;
    display: inline-flex;
padding: 10px 40px;
justify-content: center;
align-items: center;
background: #2E9375;
/* text */
color: #FFF;
font-family: "Montserrat";
font-size: 26px;
font-style: italic;
font-weight: 400;
line-height: normal;
}

.title_sup_ralling{
color: #2E9375;
text-align: right;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 35px;
margin-bottom: 20px;
}

.title_sub_ralling{
color: #575757;
text-align: right;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: 35px;
}

.texts_rall_options{
    color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card_rall_text_block{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.block_texts_rall{
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

.right_rall_texts{
    max-width: 619px;
    width: 100%;
}

.center_rall_texts{
    max-width: 494px;
    width: 100%;
}

.active_bar_rall{
    width: 173px;
    background: #2E9375;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.rall_img{
    margin-bottom: 10px;
}
/* ======================================================== */

/*  =========================================================
                     GET_CATALOG_BLOCK
============================================================*/
.get_catalog_block{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_get_catalog{
    color: #2E9375;
text-align: right;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.title_get_catalog_sub{
    color: #575757;
text-align: right;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
}

.text_catalog_get{
color: #000;
text-align: right;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 619px;
width: 100%;
}

.block_form_catalog{
background: #FFF;
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
display: flex;
justify-content: center;
margin-top: 40px;
}

.form_catalog{
    display: flex;
    flex-direction: column;
padding: 50px 126px 50px 127px;
justify-content: center;
align-items: center;
}

.title_formcatalog{
color: #575757;
text-align: right;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 50px;
position: relative;
}

.title_formcatalog::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    height: 10px;
    width: calc(100% + 25px + 25px);
    margin-right: 25px;
    margin-left: -25px;
    background: #2E9375;
}

.sub_input_title{
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
}

.input_get_cat{
border: 1px solid #DCDCDC;
background: #FFF;
padding-left: 20px;
padding-top: 17px;
padding-bottom: 17px;
max-width: 366px;
width: 100%;
/* text */
color: #575757;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
}
.get_catalog_btn{
    margin-top: 20px;
background: #575757;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
display: flex;
width: 366px;
padding: 10px 82px;
justify-content: center;
align-items: center;
/* text */
color: #FFF;
font-family: "Montserrat";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* ======================================================== */


/*  =========================================================
                     TUNKERS_ORDERS_BLOCK
============================================================*/
.turnkeys_orders_block{
    margin-top: 130px;
}

.title_turn_sup{
    color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 30px;
}

.title_turn_sub{
color: #575757;
text-align: right;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
}

.title_card_turn{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    max-width: 328px;
    width: 100%;
    margin-bottom: 93px;

}

.card_block_turn{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.calc::after{
position: absolute;
content: '';
width: 100%;
height: 100%;
background: url(./img/pngwing\ 1.png) no-repeat center;
top: 0;
left: 75px;
z-index: -1;
}

.wood::after{
    position: absolute;
content: '';
width: 100%;
height: 100%;
background: url(./img/pngwing\ 2.png) no-repeat center;
top: 0;
left: 101px;
z-index: -1;
}

.card::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(./img/cyber-monday-sale-credit-cards-and-keyboard\ 1.png) no-repeat center;
    top: 10px;
    left: 60px;
    z-index: -1;
}

.box::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(./img/pngwing\ 3.png) no-repeat center;
    top: 29px;
    left: 85px;
    z-index: -1;
}

.text_card_turn{
    color: #FFF;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.turn_cont_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.card_turn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 368px;
    width: 100%;
    background: #2E9375;
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
position: relative;
z-index: 1;
}
/* ======================================================== */


/*  =========================================================
                    block_choose_us
============================================================*/

.block_choose_us{
    margin-top: 130px;
}


.wrapper_card_choose{
  
}

.title_us_sup{
    color: #2E9375;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card_block_choose{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.title_us_sub{
    color: #575757;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
}

.title_card_ch{
    color: #FFF;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

.text_card_ch{
    color: #FFF;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.card_choose{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: auto;
   max-width: 363px;
   width: 100%;
   height: 163px;
}

.one::after{
    position: absolute;
    content: '';
    background: url(./img/1.svg) no-repeat center;
    top: 0;
    left: 0;
    width: 75px;
    height: 162px;
}

.two::after{
    position: absolute;
    content: '';
    background: url(./img/2.svg) no-repeat center;
    top: 0;
    left: 0;
    width: 142px;
    height: 162px;
}

.free::after{
    position: absolute;
    content: '';
    background: url(./img/3.svg) no-repeat center;
    top: 0;
    left: 0;
    width: 128px;
    height: 162px;
}

.four::after{
    position: absolute;
    content: '';
    background: url(./img/4.svg) no-repeat center;
    top: 0;
    left: 0;
    width: 150px;
    height: 162px;
}
.five::after{
    position: absolute;
    content: '';
    background: url(./img/5.svg) no-repeat center;
    top: 0;
    left: 0;
    width: 128px;
    height: 162px;
}

.cont_ch{
    position: relative;
    background: #2E9375;
    max-width: 493px;
    width: 100%;
}

.card_choose_{
    display: block;
}

.tit_catch_choose{
    color: #575757;
text-align: right;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

.tetx_choose_catch{
    color: #000;
    text-align: right;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 493px;
    width: 100%;
}

.block_text_choose_catch{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* ======================================================== */



/*  =========================================================
                    discount_block
============================================================*/

.discount_block{
    margin-top: 130px;
}

.card_block_disc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.title_disc{
    color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.wrapper_cont_disc{
    display: flex;
    gap: 10px 10px;
    margin-left: auto;
    margin-right:auto ;
}

.disc_card{
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 200px;
}

.tit_dick_card{
    color: #2E9375;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.txt_dick_card{
    color: #000;
font-family: "Montserrat";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.percent_block_{
    display: block;
    padding-top: 36px;
}



.text_all_dsc{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 36px;
}

.stub_img{
    display: flex;
    background: #2E9375;
    width: 100%;
}
/* ========================================================= */


/*  =========================================================
                    price_calc_block
============================================================*/

.price_calc_block{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.stub_img_2{
    display: flex;
    max-width: 870px;
    width: 100%;
    height: 390px;
    background: #2e9375;
}

.right_cont_price{
    max-width: 870px;
    width: 100%;
}

.pr_calc_title{
    color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

.pr_calc_title_sub{
    color: #575757;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
}

.text_pr_calc{
color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 619px;
width: 100%;
}
.text_pr_calc:first-child{
    margin-top: 30px;
    margin-bottom: 10px;
}

.tit_time_work{
    margin-top: 60px;
    color: #000;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.weekday{
    color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.btn_write_whats{
    color: #FFF;
font-family: "Montserrat";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.wrapp_btn_wha{
    margin-top: 60px;
padding: 20px 40px;
align-items: center;
display: flex;
gap: 10px 10px;
background: #2E9375;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
max-width: 357px;
width: 100%;
}

.icon_whats_btn{
    width: 20px;
    height: 20px;
    background: url(./img/whats_svg.svg);
    display: flex;
    top: 0;
    left: -20px;
}

.text_bann_sup{
    color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: right;
margin-bottom: 10px;
margin-top: 20px;
}

.number_bann_sub{
    color: #575757;
    font-family: "Montserrat";
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal; 
    text-align: right;
}
/* ======================================================== */


/*  =========================================================
                    factory_prod_block
============================================================*/
.factory_prod_block{
margin-top: 130px;
}

.factory_title{
    color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

.factory_title_sub{
    color: #575757;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
text-align: right;
}

.block_cont_factory{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.block_img_factory img{
    display: block;
}

.block_img_factory{
    max-width: 619px;
    width: 100%;
}

.block_factory_video{
    max-width: 841px;
    width: 100%;
}

.block_factory_video img{
    display: block;
}

.tit_factory_img{
    color: #575757;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
margin-bottom: 20px;
}

.div_text{
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

.link_play_wrapper{
    position: relative;
}

.wrapper_arrow_{
    position: relative;
}

.link_play_factory::after{
    content: "";
    width: 70px;
    height: 70px;
    background: url(./img/play.svg) no-repeat center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.block_arrow_img_fac{
    position: absolute;
    top: 50%;
    display: flex;
    max-width: 619px;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.block_arrow_vid_fac{
    position: absolute;
    top: 50%;
    display: flex;
    max-width: 841px;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
/* ========================================================= */


/*  =========================================================
                    block_sertificate
============================================================*/

.block_sertificate{
    margin-top: 130px;
}

.title_sert{
 color: #2E9375;
text-align: right;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.sub_title_sert{
    margin-top: 20px;
    color: #575757;
text-align: right;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
}

.div_cust_1{
    max-width: 619px;
    width: 100%;
    margin-left:auto ;
    margin-top: 30px;
}

.sert_btn{
    display: flex;
padding: 20px 80px;
justify-content: center;
align-items: center;
background: #2E9375;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    /* text */
    color: #FFF;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.wrapper_sert_btn{
    max-width: 427px;
    width: 100%;
    margin-left: auto;
    margin-top: 60px;
}

.block_sertificate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ======================================================== */


/*  =========================================================
                     exampl_work_block
============================================================*/

.exampl_work_block{
    margin-top: 130px;
}

.title_exam{
    color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.title_exam_sub{
    margin-top: 20px;
    color: #575757;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
text-align: right;
}

.block_project_card{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.project_card{
    display: flex;
    gap: 10px 10px;
    max-width: 745px;
    width: 100%;
}

.title_proj_cont{
    color: #575757;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

.text_stock_cust{
    margin-bottom: 20px;
    max-width: 368px;
    width: 100%;
}

.price_project{
color: #575757;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.strip_text_exam{
    max-width: 367px;
    width: 100%;
    color: #000;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.block_exam_char_lest{
    display: flex;
    flex-direction: column;
    gap: 7px 0px;
}

.wrapp_cont_proj{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div_big_card_block{
    display: flex;
margin-top: 60px;
justify-content: space-between;
margin-bottom: 60px;
}

.wrapp_all_proj{
   text-align: center;
}

.btn_all_proj{
    background: #2E9375;
    display: inline-flex;
padding: 20px 80px;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
/* text */
color: #FFF;
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* ======================================================== */


/*  =========================================================
                     think_about_us
============================================================*/

.video_think{
    position: relative;
    max-width: 861px;
    width: 100%;
}

.link_play_us::after {
    content: "";
    width: 70px;
    height: 70px;
    background: url(./img/play.svg) no-repeat center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title_think{
    color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 35px;
}

.title_vid_thin{
color: #2E9375;
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-align: right;
}

.sub_title_vid_thin{
    color: #575757;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: 35px; /* 87.5% */
text-align: right;
}

.text_stock_cst{
    max-width: 494px;
    width: 100%;
}

.texts_think{
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

.block_text_vid_think{
    display: flex;
    justify-content: right;
    max-width: 861px;
    margin-top: 30px;
}

.titles_think{
    margin-right: 20px;
}

.think_about_us{
    margin-top: 130px;
}

.wrapper_cont_think{
    display: flex;
    justify-content: space-between;
}

.reviews_block{
    display: flex;
    max-width: 619px;
    width: 100%;
}

.reviews_block iframe{
    max-width: 619px;
    width: 100%;
    border: none;
}
/* ======================================================== */


/*  =========================================================
                     social_up_block
============================================================*/

.social_up_block{
margin-top: 130px;
}

.title_up{
    color: #2E9375;
    text-align: right;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.you{
width: 242px;
height: 55px;
display: flex;
background: url(./img/you.svg);
}

.telegram{
    width: 55px;
    height: 55px;
    display: flex;
    background: url(./img/telega.svg);
}

.dzen{
    width: 55px;
    height: 55px;
    display: flex;
    background: url(./img/dzen.svg);
}

.vk{
    width: 55px;
    height: 55px;
    display: flex;
    background: url(./img/vk.svg);
}

.rutube{
    width: 330px;
    height: 55px;
    display: flex;
    background: url(./img/rutube.svg);
}

.odn{
    width: 55px;
    height: 55px;
    display: flex;
    background: url(./img/odn.svg)
}

.block_social_link{
display: flex;
gap: 10px 60px;
justify-content: center;
margin-top: 60px;
}


.block_img_up{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.sub_cont_text_up{
    color: #575757;
font-family: "Montserrat";
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: normal;
}
/* ======================================================== */

